.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.header > div > h2 {
  letter-spacing: 0.4rem;
}
.header > div > h2 span {
  color: var(--primary-color);
}

.header > nav li {
  display: inline-block;
  margin-left: 1.2rem;
}
