a.link.active {
  color: var(--primary-color);
}

a.link:hover:after {
  content: "";
  display: block;
  width: auto;
  height: 2px;
  background-color: var(--primary-color);
}

a.link:hover {
  color: var(--primary-color);
  font-size-adjust: 0.54;
  transform: scale(0.8, 1);
  transform-origin: right;
}
